<%= stylesheet_link_tag 'ports', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=API_KEY" type="text/javascript"></script>

<p id="notice"><%= notice %></p>

<h1>Список портов</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th>Оценка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div id="map-container"><div id="map-canvas"></div></div>
    <% @ports.each do |port| %>
      <tr>
        <td><%= port.name %></td>
        <td><%= port.address %></td>
        <td><%= port.rating %></td>
        <td><%= link_to 'Открыть', port %></td>
        <td><%= link_to 'Редактировать', edit_port_path(port) %></td>
        <td><%= link_to 'Удалить', port, method: :delete, data: { confirm: 'Уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить порт', new_port_path %>

<script type="text/javascript">
async function initMap() {
  ymaps.ready(init);
  var myMap;
  function init() {
    myMap = new ymaps.Map("map-canvas", {
      center: [43.238253, 76.945465], // map center
      zoom: 8,
      controls: []
    });

    <% @ports.each do |port| %>
      myMap.geoObjects.add(new ymaps.Placemark(
        [43.238053,76.945065],
        {
          balloonContent: <%= raw(port.name.to_json) %>,
          iconContent: <%= port.rating %>,
        },
        {preset: "islands#icon"}));
    <% end %>
  };
}
initMap();
</script>