<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @port.name %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @port.address %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @port.tel %>
</p>

<p>
  <strong>Координаты:</strong>
  <%= @port.coordinates %>
</p>

<p>
  <strong>Оценка:</strong>
  <%= @port.rating %>
</p>

<p>
  <strong>Стоимость:</strong>
  <%= @port.cost %>
</p>

<p>
  <strong>Электричество:</strong>
  <%= @port.electric %>
</p>

<p>
  <strong>Вода:</strong>
  <%= @port.wather %>
</p>

<p>
  <strong>Загруженность:</strong>
  <%= @port.workload %>
</p>

<p>
  <strong>Удобное время захода в порт:</strong>
  <%= @port.comfort_time %>
</p>

<%= link_to 'Редактировать', edit_port_path(@port) %> |
<%= link_to 'Назад', ports_path %>
