<!-- <p>
	<b>Commenter:</b>
	<%= comment.commenter %>
</p> -->
<div class="comment">

<h4><%= User.find(comment.user_id).username %> . <%= l(comment.created_at, format: "%d.%m.%Y . %H:%M") %></h4>
<p><%= comment.body %></p>


</div>

<% if user_signed_in? && current_user.id == comment.user_id  %>
<p>
  <%= link_to 'Удалить', [comment.post, comment],
               :confirm => 'Уверены?',
               :method => :delete %>
</p>
<% end %>
