<%= form_for([@post, @post.comments.build]) do |f| %>
	<!-- <div class="field">
		<%= f.label :commenter %><br />
		<%= f.text_field :commenter %>
	</div> -->
<h3 class="actuality">Оставить комментарий:</h3>
	<div class="field">
    <h3><%= current_user.username %></h3>
</div>

	<div class="field">
		<p><%= f.text_area :body %><p/>
	</div>
		<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
