<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Отображать в боковом меню:</strong>
  <%= @topic.display_in_sidebar %>
</p>

<%= link_to 'Редактировать', edit_topic_path(@topic) %> |
<%= link_to 'Назад', topics_path %>
