<p id="notice"><%= notice %></p>

<h1>Запись</h1>



<% Topic.where(display_in_sidebar: true).each do |cat| %>
<%= link_to cat.name, posts_path(topic: cat.name) %> |
<% end %>|

<% if user_signed_in? %>
  <%= link_to 'Создать новую тему', new_topic_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Контент</th>
      <th>Дата</th>
      <th>Тема</th>
      <th>Тэг</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.date %></td>
        <td><%= post.topic.name %></td>
        <td><%= post.tag %></td>
        <td>
	          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        </td>
        <td>
	         <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%>
        </td>
        <td><%= link_to 'Открыть', post %></td>
        <td><%= link_to 'Редактировать', edit_post_path(post) %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать пост +', new_post_path %>
