<p>
	<%= @post.author %>
</p>
<p>
  <strong>Заголовок:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Контент:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Темы:</strong>
  <%= @post.topic.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>


<%= image_tag(@post.image.url, alt: 'Фото') if @post.image? %>
<% if user_signed_in? %>
  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Актуально', post_like_path(@post, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Актуально', post_likes_path(@post), method: :post %>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <% pre_unlike = @post.unlikes.find { |unlike| unlike.user_id == current_user.id} %>
  <% if pre_unlike %>
    <%= button_to 'Не актуально', post_unlike_path(@post, pre_unlike), method: :delete %>
  <% else %>
    <%= button_to 'Не актуально', post_unlikes_path(@post), method: :post %>
  <% end %>
<% end %>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<p><%= @post.unlikes.count %> <%= (@post.unlikes.count) == 1 ? 'UnLike' : 'UnLikes'%></p>
<p><%= @post.comments.count %> <%= (@post.comments.count) == 1 ? 'Comment' : 'Comments'%></p>
<% if user_signed_in? %>
  <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
      <%= button_to 'Удалить из Любимых', post_favorite_path(@post, pre_favorite), method: :delete %>
  <% else %>
      <%= button_to 'Добавить в любимые', post_favorites_path(@post), method: :post %>
  <% end %>
<% end %>

<h2>Комментарии</h2>
<%= render @post.comments %>

<h2>Оставить комментарий</h2>

<% if user_signed_in? %>
<%= render "comments/form" %>
<% else %>
<p>пожалуйста, <%= link_to 'войдите', new_user_session_path %> или <%= link_to 'зарегистрируйтесь', new_user_registration_path %>, чтобы оставить комментарий.</p>
<% end %>


<% if user_signed_in? %>
<%= link_to 'Редактировать', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Назад', posts_path %>
