<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<%
def M_Actuality_params()
	params = {}
	params["user_signed_in"] = user_signed_in?
	if params["user_signed_in"]
 		params["pre_like"]  = @post.likes.find { |like| like.user_id == current_user.id}
		params["pre_like_count"] = @post.likes.count
		params["pre_like_amount"] = (@post.likes.count) == 1 ? '' : ''
		if params["pre_like"]
			params["pre_like_value"] = "Да"
			params["pre_like_method"] = :delete
			params["pre_like_action"] = post_like_path(@post, params["pre_like"])
		else
			params["pre_like_value"] = "Да"
			params["pre_like_method"] = :post
			params["pre_like_action"] = post_likes_path(@post)
		end
		params["pre_unlike"] = @post.unlikes.find { |unlike| unlike.user_id == current_user.id}
		params["pre_unlike_count"] = @post.unlikes.count
		params["pre_unlike_amount"] = (@post.unlikes.count) == 1 ? '' : ''
		if params["pre_unlike"]
			params["pre_unlike_value"] = "Нет"
			params["pre_unlike_method"] = :delete
			params["pre_unlike_action"] = post_unlike_path(@post, params["pre_unlike"])
		else
			params["pre_unlike_value"] = "Нет"
			params["pre_unlike_method"] = :post
			params["pre_unlike_action"] = post_unlikes_path(@post)
		end
	end
	return params
end
def A_Star_params()
	params = {}
	params["user_signed_in"] = user_signed_in?
	if params["user_signed_in"]
		params["pre_favorite"] = @post.favorites.find { |favorite| favorite.user_id == current_user.id}
		if params["pre_favorite"]
			params["action"] = post_favorite_path(@post, params["pre_favorite"])
			params["method"] = :delete
			params["value"] = 'Удалить из Любимых'
		else
			params["action"] = post_favorites_path(@post)
			params["method"] = :post
			params["value"] = 'Добавить в любимые'
		end
	end
	return params
end
%>
<div class="post_card post_card_show">
<h3><%= @post.category.name %></h3>
	<h3><%= @post.topic.name %></h3>
	<h4><%= @post.author %></h4>
	<h4><%= l(@post.created_at, format: "%d.%m.%Y %H:%M") %></h4>
	<h1><%= truncate(@post.title,length:300, escape: false) %></h1>
	<p><%= @post.content %></p>

	<%= image_tag(@post.image.url, alt: 'Фото') if @post.image? %>

	<%= react_component 'M_Actuality', M_Actuality_params() %>
	<%= react_component 'A_Star', A_Star_params() %>
<div class="comments_posts">

	<h4><%= @post.comments.count %> <%= (@post.comments.count) == 1 ? 'Comment' : 'Comments'%></h4>

	<h3>Комментарии</h3>
	<%= render @post.comments %>


	<% if user_signed_in? %>
	<%= render "comments/form" %>
	<% else %>
	<p>пожалуйста, <%= link_to 'войдите', new_user_session_path %> или <%= link_to 'зарегистрируйтесь', new_user_registration_path %>, чтобы оставить комментарий.</p>
	<% end %>

	</div>

	<% if user_signed_in? %>
	<div class="buttons_post_card">
		<%= react_component 'A_S_Edit_Post', { href: edit_post_path(@post) } %>
	</div>
	<% end %>

</div>
