<!DOCTYPE html>
<html>
  <head>
    <title>Lir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <body>
    <div class="top_menu">
      <%= link_to 'Порты', ports_path %>
      <%= link_to 'Форум', posts_path %>
  <% if user_signed_in? %>
      <%= link_to 'Личный кабинет', current_user %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Регистрация', new_user_registration_path %>
  <% end %>
</div>

    <%# if notice %>
      <%#= notice %>
    <%# end %>

    <%= yield %>



    <%# Футер %>
    
    <%= render "subscribers/form" %>

  </body>
</html>
