<!DOCTYPE html>
<html>
  <head>
    <title>Lir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <div class="top_menu">
      <%= react_component 'A_T_Ports', { href: ports_path } %>
      <%= react_component 'A_T_Posts', { href: posts_path } %>
<div class="top_menu_accaunt">
  <% if user_signed_in? %>
            <h2><%= link_to 'Личный кабинет', current_user %></h2> |
            <h2><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></h2>
        <% else %>
          <h2><%= link_to 'Войти', new_user_session_path %><h2> |
            <h2><%= link_to 'Регистрация', new_user_registration_path %></h2>
        <% end %>

      </div>
    </div>

<div class="content">

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

    <%= yield %>
</div>




    <div class="footer">
      <%= render "subscribers/form" %>

    </div>

  </body>
</html>
