<!DOCTYPE html>
<html>
  <head>
    <title>Lir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <%= notice %>
    <% end %>

    <%= yield %>



    <%# Футер %>
    <h2>Узнать раньше всех о запуске проекта:</h2>
    <%= render "subscribers/form" %>

  </body>
</html>
