<!DOCTYPE html>
<html>
  <head>
    <title>Lir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <div class="top_menu">
      <%= image_tag  'logo.svg' %>
      <%= react_component 'A_T_Ports', { href: ports_path } %>
      <%= react_component 'A_T_Posts', { href: posts_path } %>
<div class="top_menu_accaunt">
  <% if user_signed_in? %>
            <%= react_component 'A_T_Account', { href: user_path(current_user) } %>
        <% else %>
        <%= react_component 'A_P_Log_In', { href: new_user_session_path } %>
        <% end %>

      </div>
    </div>

<section class="content">

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

    <%= yield %>

</section>




    <div class="footer">
      <%= render "subscribers/form" %>

    </div>

  </body>
</html>
